@define-color warning_orange #F57900;
@define-color buttonHi shade(@bg_color, 1.4);
@define-color buttonLow shade(@bg_color, 0.7);
@define-color lightText #ffffff;
.lightdm-gtk-greeter {
  /*********
   * panel *
   *********/
  /****************
   * login window *
   ****************/ }
   .lightdm-gtk-greeter #panel_window {/*top panel on switch user screen*/
      color: @text_color;
      background-color: transparent;
      background-image: linear-gradient(to bottom,shade(@base_color,1.4),@bg_color 25% ,@bg_color 75%,black);
      border: 1px solid transparent; 
      font-weight: bold;
      padding-bottom:8px;
      min-height:28px;
    }
    .lightdm-gtk-greeter #panel_window menubar { /*panel == menubar*/
      background-color: inherit;
      text-shadow: none;
      margin:0;
      padding-bottom:8px;
      min-height:28px;
     border: 1px solid transparent; 
     }

     #panel_window menubar > separator,
     #panel_window menubar > menuitem {
        border: 1px solid transparent;
	border-top-color: shade(@base_color,1.4);
     }


    .lightdm-gtk-greeter #panel_window menubar menu menuitem { 
        color: @fg_color;
        font-weight: normal;
     }

    .lightdm-gtk-greeter #panel_window menuitem:hover {
        color: @lightText;
     }
     .lightdm-gtk-greeter #panel_window menuitem:disabled {
       color: @drop_dark;
     }

  .lightdm-gtk-greeter #login_window,
  .lightdm-gtk-greeter #shutdown_dialog,
  .lightdm-gtk-greeter #restart_dialog {
    border-style: none;
    border-radius: 5px;
    color: @fg_color;
    background-color: @base_color;
    box-shadow: inset 1px 0 shade(@border_color, 1.2), inset -1px 0 shade(@border_color, 1.2), inset 0 1px shade(@border_color, 1.2), inset 0 -1px shade(@border_color, 1.2); }/*upper part dialog*/
    .lightdm-gtk-greeter #login_window button,
    .lightdm-gtk-greeter #shutdown_dialog button,
    .lightdm-gtk-greeter #restart_dialog button {
      padding: 3px 15px;
      /***********************
       * login/unlock button *
       ***********************/
      /*******************
       * shutdown button *
       *******************/
      /******************
       * restart button *
       ******************/ }
      .lightdm-gtk-greeter #login_window button#login_button,
      .lightdm-gtk-greeter #shutdown_dialog button#login_button,
      .lightdm-gtk-greeter #restart_dialog button#login_button {
        background-image: linear-gradient(to bottom, shade(@selected_bg_color, 1.4), shade(@selected_bg_color,0.7));
        border-width: 1px;
        border-radius: 5px;
        border-style: solid;
        border-top-color: shade(@bg_color,0.8);
        border-right-color: shade(@bg_color, 0.7);
        border-left-color: shade(@bg_color, 0.7);
        border-bottom-color: shade(@bg_color, 0.6);
        color:@lightText; 
      }
        .lightdm-gtk-greeter #login_window button#login_button:hover, .lightdm-gtk-greeter #login_window button#login_button:active,
        .lightdm-gtk-greeter #shutdown_dialog button#login_button:hover,
        .lightdm-gtk-greeter #shutdown_dialog button#login_button:active,
        .lightdm-gtk-greeter #restart_dialog button#login_button:hover,
        .lightdm-gtk-greeter #restart_dialog button#login_button:active {
          border-color: shade(@selected_bg_color, 0.7);
          background-image: linear-gradient(to bottom, shade(@selected_bg_color, 1.6), shade(@selected_bg_color, 0.9)); 
          color:@lightText; 
       }
      .lightdm-gtk-greeter #login_window button#shutdown_button,
      .lightdm-gtk-greeter #shutdown_dialog button#shutdown_button,
      .lightdm-gtk-greeter #restart_dialog button#shutdown_button {
        border-color: shade(#cc0000, 0.6);
        background-image: linear-gradient(to bottom, shade(#cc0000, 1.22),shade(#cc0000, 0.7));
        color:@lightText; 
       }

        .lightdm-gtk-greeter #login_window button#shutdown_button:hover, .lightdm-gtk-greeter #login_window button#shutdown_button:active,
        .lightdm-gtk-greeter #shutdown_dialog button#shutdown_button:hover,
        .lightdm-gtk-greeter #shutdown_dialog button#shutdown_button:active,
        .lightdm-gtk-greeter #restart_dialog button#shutdown_button:hover,
        .lightdm-gtk-greeter #restart_dialog button#shutdown_button:active {
          border-color: shade(#cc0000, 0.7);
          background-image: linear-gradient(to bottom, shade(#cc0000, 1.4), shade(#cc0000, 0.9)); }
      .lightdm-gtk-greeter #login_window button#restart_button,
      .lightdm-gtk-greeter #shutdown_dialog button#restart_button,
      .lightdm-gtk-greeter #restart_dialog button#restart_button {
        border-color: shade(@warning_orange, 0.6);
        background-image: linear-gradient(to bottom, shade(@warning_orange, 1.22), shade(@warning_orange, 0.7));
        color:@lightText; }
        .lightdm-gtk-greeter #login_window button#restart_button:hover, .lightdm-gtk-greeter #login_window button#restart_button:active,
        .lightdm-gtk-greeter #shutdown_dialog button#restart_button:hover,
        .lightdm-gtk-greeter #shutdown_dialog button#restart_button:active,
        .lightdm-gtk-greeter #restart_dialog button#restart_button:hover,
        .lightdm-gtk-greeter #restart_dialog button#restart_button:active {
          border-color: shade(@warning_orange, 0.7);
          background-image: linear-gradient(to bottom, shade(@warning_orange, 1.4), shade(@warning_orange, 0.9)); 
          color: @lightText;
	}
  .lightdm-gtk-greeter #content_frame {
    padding-bottom: 14px; 
    }
  .lightdm-gtk-greeter #login_window menu {
    border-radius: 1px;
    background: @base_color;
   }
  .lightdm-gtk-greeter #login_window combobox button.combo {
    color: @fg_color;
    padding: 2px;
    background:transparent;
    background-image:linear-gradient(to bottom,shade(@buttonHi,0.8),@buttonLow);
    /*frame around the combo button:*/
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-top-color: shade(@bg_color,0.8);
    border-right-color: shade(@bg_color, 0.7);
    border-left-color: shade(@bg_color, 0.7);
    border-bottom-color: shade(@bg_color, 0.6)
  }
  .lightdm-gtk-greeter #login_window #user_combobox {
    color: @fg_color;
    font-size: 18px; 
    }
    .lightdm-gtk-greeter #login_window #user_combobox menu {
      font-weight: normal; 
      background:@bg_color;
    }
  .lightdm-gtk-greeter #login_window #user_image {
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 1px 0 shade(@border_color, 1.2), inset -1px 0 shade(@border_color, 1.2), inset 0 1px shade(@border_color, 1.2), inset 0 -1px shade(@border_color, 1.2); }
  .lightdm-gtk-greeter #login_window #user_image_border {
    border-radius: 3px;
    background-image: linear-gradient(to bottom, shade(@bg_color, 1.2), shade(@bg_color, 1.05) 10%, shade(@bg_color, 0.95) 99%, shade(@bg_color, 0.75));
    box-shadow: inset 0 1px shade(@fg_color, 0.8), inset 0 -1px shade(@fg_color, 0.55); }
  .lightdm-gtk-greeter #buttonbox_frame {
    padding-top: 20px;
    padding-bottom: 0px;
    border-style: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: linear-gradient(to bottom, shade(@bg_color, 1.2), shade(@bg_color, 1.05) 10%, shade(@bg_color, 0.95) 90%, shade(@bg_color, 0.55));    
    box-shadow: inset 1px 0 shade(@border_color, 1.2), inset -1px 0 shade(@border_color, 1.2), inset 0 1px shade(@border_color, 1.2), inset 0 -1px shade(@border_color, 1.2);/*outter rim of low part dialog*/
   }
