 /*Copy this into /home/<user>/.config/gtk-4.0/gtk.css */
 @define-color separatorHi lighter(#2C2C2C);
 @define-color bg_color #353535;
 #displayitem{
   border-top-color: @separatorHi;/*overwritten by libadwaita*/
  }

mathdisplay { border: 1px solid shade(#262626, 1.5); background-image: image(#353535); border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; border-top-color: shade(lighter(#2C2C2C), 1.2); border-bottom-color: shade(lighter(#2C2C2C), 0.8); min-width: 700px; }mathdisplay > box > textview { borde>
widget.bit-panel {border-top: 1px solid transparent;}