/*CSD HEADER Buttons*/

  headerbar button.titlebutton.close, headerbar button.titlebutton.maximize, headerbar button.titlebutton.minimize,
  .titlebar button.titlebutton.close,
  .titlebar button.titlebutton.maximize,
  .titlebar button.titlebutton.minimize {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    padding-left:0;
    padding-right:0;
    border-width: 0; }
/*icon size must be 16x16*/
headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.minimize {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-min.png"));
}
headerbar button.titlebutton.minimize:backdrop,
headerbar button.titlebutton.maximize:backdrop,
headerbar button.titlebutton.close:backdrop {
  padding-bottom:6px;
  background-image: -gtk-scaled(url("csd/button-inactive.png"));
}

headerbar button.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-min-focus.png"));
}

headerbar button.titlebutton.maximize,
.titlebar button.titlebutton.maximize {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-max.png"));
}
headerbar button.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-max-focus.png"));
}

headerbar button.titlebutton.close,
.titlebar button.titlebutton.close {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-close.png"));
}
headerbar button.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-close-focus.png"));
}
