/*CSD HEADER Buttons*/
  headerbar button.titlebutton.close, headerbar button.titlebutton.maximize, headerbar button.titlebutton.minimize,
  .titlebar button.titlebutton.close,
  .titlebar button.titlebutton.maximize,
  .titlebar button.titlebutton.minimize {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    padding-left:0;
    padding-right:0;
    border-width: 0;
    box-shadow:none;
    transition: none;
   }
/*icon size must be 16x16*/
headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.minimize {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-min.png"));
}
headerbar button.titlebutton.minimize:backdrop,
headerbar button.titlebutton.maximize:backdrop,
headerbar button.titlebutton.close:backdrop {
  padding-bottom:6px;
  background-image: -gtk-scaled(url("csd/button-inactive.png"));
}

headerbar button.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-min-focus.png"));
}
headerbar button.titlebutton.minimize:hover:active,
.titlebar button.titlebutton.minimize:hover:active {
   padding-bottom:1px;
   background-image: -gtk-scaled(url("csd/button-min-pressed.png"));
}

headerbar button.titlebutton.maximize,
.titlebar button.titlebutton.maximize {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-max.png"));
}
headerbar button.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-max-focus.png"));
}

headerbar button.titlebutton.maximize:hover:active,
.titlebar button.titlebutton.maximize:hover:active {
   padding-bottom:1px;
   background-image: -gtk-scaled(url("csd/button-max-pressed.png"));
}

headerbar.selection-mode button.titlebutton {
   color:transparent;
   text-shadow: 0 -1px rgba(0, 255, 255, 0.5215686275);
}


headerbar button.titlebutton.close,
.titlebar button.titlebutton.close {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-close.png"));
}
headerbar button.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover {
   padding-bottom:6px;
   background-image: -gtk-scaled(url("csd/button-close-focus.png"));
}

headerbar button.titlebutton.close:hover:active,
.titlebar button.titlebutton.close:hover:active {
   padding-bottom:1px;
   background-image: -gtk-scaled(url("csd/button-close-pressed.png"));
}

/*GTK4 Windowcontrols...*/

windowcontrols button,windowcontrols button:backdrop{
  color:transparent;
  border: 1px solid transparent;
  background-color:transparent;
  background-size: 16px 16px;
  min-width: 16px;
  min-height: 16px;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
}

windowcontrols button.close:backdrop,
windowcontrols button.maximize:backdrop,
windowcontrols button.minimize:backdrop{
 padding-bottom:1px;
 background-image: -gtk-scaled(url("csd/button-inactive.png"));
}

windowcontrols button.close{
  padding-bottom:1px;
  background-image: -gtk-scaled(url("csd/button-close.png"));
}

windowcontrols button.maximize{
   padding-bottom:1px;
   background-image: -gtk-scaled(url("csd/button-max.png"));
}

windowcontrols button.minimize{
   padding-bottom:1px;
   background-image: -gtk-scaled(url("csd/button-min.png"));
}

windowcontrols button.close:hover{
  padding-bottom:1px;
  color:transparent;
  background-image: -gtk-scaled(url("csd/button-close-focus.png"));
}

windowcontrols button.maximize:hover{
   padding-bottom:1px;
   color:transparent;
   background-image: -gtk-scaled(url("csd/button-max-focus.png"));
}

windowcontrols button.minimize:hover{
   padding-bottom:1px;
   color:transparent;
   background-image: -gtk-scaled(url("csd/button-min-focus.png"));
}

windowcontrols button.close:hover:active{
  padding-bottom:1px;
  color:transparent;
  background-image: -gtk-scaled(url("csd/button-close-pressed.png"));
}

windowcontrols button.maximize:hover:active{
   padding-bottom:1px;
   color:transparent;
   background-image: -gtk-scaled(url("csd/button-max-pressed.png"));
}

windowcontrols button.minimize:hover:active{
   padding-bottom:1px;
   color:transparent;
   background-image: -gtk-scaled(url("csd/button-min-pressed.png"));
}



/*GTK4 Windowcontrols shadow*/
  window.csd {
    box-shadow: 0 13px 19px 1px rgba(0, 0, 0, 0.9), 0 0 0 1px rgba(0, 0, 0, 0.75);
    margin: 0px; }

