style "fm-sidepane"
{
	GtkTreeView::vertical-separator = 4

	base[NORMAL]		= shade (0.8,@base_color)
	#text[NORMAL]		= @text_color
	#text[ACTIVE]		= @text_color #selected item text -hasN't got the focus
	#text[SELECTED]		= @test_color #when pressed

	engine "murrine" 
	{
		roundness = 0 # Roundness of menu items.
		gradient_shades     = {1.25, 1.0, 1.0, 0.8} #3D selection
		lightborder_shade = 1.5
	}


}

style "fm-tree" ="treeview" {
  base[NORMAL] = @bg_treeview_color
  #base[ACTIVE]	= mix (1.7, shade (0.7, @selected_bg_color), @bg_color)
  base[ACTIVE]     = shade (0.6, @selected_bg_color) #selected NOT having focus pcmanfm, incl the empty background
  text[ACTIVE] =  shade (0.75, @text_color)
}

style "fm-tab" {
  fg[NORMAL] = @text_color
}

#LXDE pcmanfm
widget_class    "*FmPlacesView*"    style "fm-sidepane"
widget_class    "*ExoTreeView*"    style "fm-tree"
widget_class "*<FmTabLabel>*"    style "fm-tab"
